{% extends "base.html" %}
{% block content %}
<h2>乗車情報の編集</h2>
<form method="post">
  日付: <input type="date" name="date" value="{{ post.date }}"><br>

  行き場所:
  <select name="go_location_id">
    {% for loc in locations %}
      <option value="{{ loc.id }}" {% if loc.id == post.go_location_id %}selected{% endif %}>{{ loc.name }}</option>
    {% endfor %}
  </select>
  運転者: <input type="checkbox" name="go_driver" value="1" {% if post.go_driver %}checked{% endif %}><br>

  帰り場所:
  <select name="back_location_id">
    {% for loc in locations %}
      <option value="{{ loc.id }}" {% if loc.id == post.back_location_id %}selected{% endif %}>{{ loc.name }}</option>
    {% endfor %}
  </select>
  運転者: <input type="checkbox" name="back_driver" value="1" {% if post.back_driver %}checked{% endif %}><br>

  <input type="submit" value="更新">
</form>
<p><a href="/">メイン画面に戻る</a></p>
{% endblock %}
